.chat-content
    display: flex
    flex-direction: column
    justify-content: flex-end
    .text-input
        text-align: right
        background-color: gray
        padding: 20px
        border-radius: 10px

    .gemini-output
        text-align: left
        background-color: lightgray
        padding: 20px
        border-radius: 10px
