.content
    width: 100%
    height: 700px
    display: flex
    justify-content: center
    overflow-y: auto
    .chats
        width: 570px
        display: flex
        flex-direction: column
        justify-content: flex-end
.generation-form
    width: 100%
    display: flex
    justify-content: center
    flex: 1
    .generation-full-width
        max-width: 300px
